*{
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* TOP NAV */

.sticky-header {
    position: sticky;
    top: 0;
}

.topnav {
    background-color: black;
    height: 81px;
    width: 100%;    
}

.nav-wrapper {
    max-width: 1250px;
    height: 81px;
    margin: 0 auto; 
    padding: 1rem 0rem 65px;
}
 
  
.topnav-right {
    float: right;
    margin-left: 2px; 
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    float: left;
    height: 60px;
    position: absolute;
    top: 10.5px;
    color: grey;
    padding-left: 10px;
    margin-top: 10px;
}


.dropdown-icon {
    margin-left: 30px;
}

.Instagram-icon {
    margin-left: 5px;
    margin-top: -2px;
}

.Instagram {
    width: 34px;
    height: 34px;
}

/* MAIN IMAGE SECTION */

.home-image-container {
    max-width: 1440px;
    margin: 0 auto;
}

.home-page-image {
    width: 100%;
    margin-bottom: -4px;
}



/* FOOTER */

.footer-section {
    background-color: black;
}

.footer-container {
    max-width: 1312px;
    height: 70px;
}



/* BIO */

.main-content-section {
    max-width: 1312px;
    height: 730px;
}

.bio-content-container {
    max-width: 600px;
    float: right;
    padding: 20px 36px;

}

.bio-content-words {
    color: grey;
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.bio-image-container {
    max-width: 600px;
    height: 300px;
    margin-top: 60px;
}

.bio-image {
    width: 525px;
    height: 300px;

}


/* EXHIBITIONS */

.exhib-content-section {
    display: flex;
    height: 800px;
}

.exhib-words-container {
    max-width: 800px;
    padding: 30px 90px 0px 25px;
}

.exhib-words {
    color: grey;
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
}

.exhib-image-container {
    max-width: 600px;
    height: 800px;
    margin-left: 40px;
}

.exhib-image {
    width: 500px;
    height: 800px;
}



/* ARTWORK CAROUSEL */

.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    width: 30vw;
    height: 400px;
    z-index: 10;
}

.carousel__button--left {
    left: -60px;
    cursor: w-resize;
}

.carousel__button--right {
    right: -60px;
    cursor: e-resize;
}

.carousel__button img {
    width: 12px;
}

/*
.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;

}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .3);
    margin: 0 12px;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: rgba(0, 0, 0, .75);
}
*/

.art-footer-section {
    background-color: black;
}

.art-footer-container {
    max-width: 1312px;
    height: 70px;
}

.art-caption {
    color: white;
    margin-bottom: -50px;
    margin-left: 20px;
    height: 2rem;
}


/* CONTACT PAGE */

hr {
    background: none;
    border: none;
    width: 300px;
    
}

.contact-wrapper {
    max-width: 800px;
    height: 800px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 75px;
}

.contact-form {
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: rgb(109, 105, 105);
    background-color: lightgray;
    padding: 30px 30px 30px 30px;
    border-radius: 5px;
}



.contact-title {
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: grey;
    text-align: center;
}

h2 {}



#fname {
    height: 2rem;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#email {
    height: 2rem;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#phone-number {
    height: 2rem;
    width: 225px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#query-heading {
    height: 2rem;
    width: 224px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#subject {
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type=submit] {
    border: 1.5px solid rgb(170, 169, 169);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 12px 20px;
}