*{
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* TOP NAV */



/* MAIN IMAGE SECTION */

.home-image-container {
    max-width: 1000px;
    margin: 0 auto;
}

.home-page-image {
    width: 100%;
    margin-bottom: -4px;
}

.nocopy-image-container {
    max-width: 1440px;
    margin: 0 auto;
}

.nocopy-image {
    width: 100%;
    margin-bottom: -4px;
}


.homepage-words {
    height: 100px;
}

.homepage-copy {
    width: 100px;
    height: 60px;
}



/* FOOTER */

.sticky-footer {
    position: sticky;
    z-index: 5;
    bottom: 0;
}

.footer-section {
    background-color: black;
}

.footer-container {
    max-width: 2400px;
    height: 70px;
}

/* HOME FOOTER  */

.home-sticky-footer {
    position: sticky;
    z-index: 5;
    bottom: 0;
}

.home-footer-section {
    background-color: black;
}

.home-footer-container {
    max-width: 1000px;
    margin: 0 auto;
    /* float: right; */
    height: 70px;
}

.home-credit {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 6px;
    color: white;
    margin-right: 5px;
}



/* BIOG */

.main-content-section {
    max-width: 1440px;
    height: 602px;
}

.bio-content-container {
    max-width: 600px;
    float: right;
    padding: 15px 30px 0px 0px;
    position: relative;
    z-index: 10px;

}

.bio-content-words {
    color: grey;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 13.5px;
    margin-top: -8px;
}

.bio-second-para {
    margin-top: -12px;
}

/* .bio-image-container {
    max-width: 600px;
    height: 300px;
    margin-top: 10px;
} */

.bio-image {
    width: 569px;
    height: 340px;
    margin-top: -5px;
}

.bio-credit {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: white;
    /* width: 150px; */
    float: right;
    margin-right: 30px;
    /* position: absolute; */
    
}

/* BIOG FOOTER */

.bio-footer-section {
    background-color: black;
    margin-top: -10px;
    margin: 0 auto;
    /* margin-right: 10px; */
    max-width: 1440px;
    /* position: relative; */
      
}

.bio-footer-container {
    max-width: 1440px;
    height: 84px;
    bottom: 0px;
    margin: 0 auto;
}





/* EXHIBITIONS */

.exhib-content-section {
    /* display: flex;
    justify-content: space-between; */
    /* height: 604px; */
    max-width: 905px;
    margin: 0 auto;
}

.exhib-words-container {
    max-width: 700px;
    height: 600px;
    padding: 30px 90px 0px 20px;
}

.exhib-words {
    color: rgb(148, 147, 147);
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 14px;
}

.exhib-image-container {
    max-width: 905px;
    /* height: 604px; */
    /* margin-right: 27px; */
    /* padding-left: 120px; */

}

.exhib-image {
    width: 100%; 
}

.exhib-footer {
    display: flex;
    justify-content: space-between;
}

.exhib-footer-section {
    max-width: 905px;
    margin: 0 auto;
}

.exhib-caption {
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 10px;
    text-align: center;
    float: left;
    font-size: 9px;
}



a {
    text-decoration: none;
}

.curater-button {
    color: red;
}

/* .curater-button:visited {
    color: grey;
} */


/* ARTWORK CAROUSEL */

.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    position: relative;
    z-index: -1;
    height: 500px;
    margin-top: 20px;
}

.carousel__track-container {
    height: 110%;
    position: relative;
    overflow: hidden;
    padding-top: 25px;
    width: 100%;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: -3px;
    bottom: 0;
    width: 100%;
    line-height: 1.2;
}

.carousel__button {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    width: 30vw;
    height: 400px;
    /* z-index: 10; */
}

.carousel__button--left {
    left: -60px;
    cursor: w-resize;
    z-index: 2;
}

.carousel__button--right {
    right: -60px;
    cursor: e-resize;
    z-index: 2;
}

.carousel__button img {
    width: 12px;
}





/*
.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;

}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .3);
    margin: 0 12px;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: rgba(0, 0, 0, .75);
}
*/

.carousel__slide {
    opacity: 0;

}
.current-slide {
    transition: opacity .5s ease-in-out;
    opacity: 1;

}

.art-footer-section {
    background-color: black;
    margin-top: -10px;
    position: relative;
    z-index: -1;
}

.art-footer-container {
    max-width: 1312px;
    height: 84px;
    bottom: 0px;
}

.artwork-photographer {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: 0 auto;
}

.art-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
    margin-bottom: -50px;
    height: 3rem;
    position: relative;
    z-index: 500;
    top: 60px;
    text-align: center;
}

/* ART CAPTIONS */

.caption-33 {
    @media screen and (max-width: 768px) {
        width: 510px;
    }
    height: 3rem;
    margin: 0 auto;
    line-height: 1.3;
}

.caption-34 {
    @media screen and (max-width: 768px) {
        width: 540px;
    }
    text-align: center;
    margin: 0 auto;

}




/* CONTACT PAGE */
.contact-form__field {
    width: 50%;
    margin-bottom: 1rem;
    float: left;
}

.contact-form label {
    display: block;
    margin-bottom: 3px;
}

.contact-wrapper {
    max-width: 760px;
    height: 603px;
    margin: 0 auto;
    padding-top: 80px;
    /* padding-bottom: 75px; */
}

.contact-form {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    background-color: lightgray;
    padding: 30px 30px 30px 30px;
    border-radius: 5px;
}

/* .contact-title {
    padding-bottom: 20px;
    font-family: 'adobe-heiti-std', sans-serif;
    font-weight: 300;
    color: grey;
    text-align: center;
} */

hr {
    border: none;
}

h2 {
    margin-bottom: 0px;
    margin-top: 10px;
}

#fname {
    height: 2rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 0px;
    margin-right: 10%;
}

#email {
    height: 2rem;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#phone-number {
    height: 2rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#query-heading {
    height: 2rem;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10%;
}

#subject {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 100%;
}

input[type=submit] {
    border: 1.5px solid rgb(170, 169, 169);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding: 12px 20px;
    display: block;
    background-color: black;
    color: white;
}

input[type=submit]:hover {
    color: white;
    background-color: grey;
}

/* THANK YOU MESSAGE */


.thanks-container {
    max-width: 500px;
    height: 603px;
    margin: 0 auto;
    padding-top: 230px;
    /* padding-bottom: 505px; */
}

.thanks-message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: grey;
    text-align: center;
}

/* NEWS MESSAGE */

.news-section {
    height: 603px;
    padding-top: 220px;
}

.news-container {
    max-width: 500px;
    height: 50px;
    margin: 0 auto;
    /* padding-top: 50px; */
    /* padding-bottom: 100px; */
    /* margin-top: 100px; */
}

.news-message {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: grey;
    text-align: center;
    line-height: 1.3;
}

#mc_embed_signup {
    clear:left;
    font:14px;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    margin: 0 auto;
    /* margin-top: 200px; */
    /* margin-bottom: 60px; */
    padding-top: 230px;
}

.referralBadge {
    width: 100px;
}





/*DROPDOWN */



.sticky-header {
    position: sticky;
    z-index: 5;
    top: 0;
}

nav {
    width: 100%;
    height: 81px;
    background-color: black;
}

.nav-wrapper {
    max-width: 1440px;
    height: 70px;
    margin: 0 auto;
    padding: 1rem 0rem 65px;
}

/* ORIGINAL LOGO */

/* .logo {
    font-family: 'adobe-heiti-std', sans-serif;
    font-weight: 300;
    font-size: 38px;
    float: left;
    height: 60px;
    position: absolute;
    top: 10.5px;
    color: grey;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 10px;

}

.logo-style {
    text-decoration: none;
    color: inherit;
} */


/* NEW LOGO  */

.logo-container {
    width: 230px;
    float: left;
}


.logo-1 {
    max-width: 230px;
    margin-right: 0px;
}

.logo-image {
    width: 230px;
    height: 55px;
    margin-left: 20px;
}

/* MAIN HEADINGS GROUP*/

.nav-icons {
    float: right;
    margin-top: -17px;
    margin-bottom: 0px;
    margin-right: 20px;
}

/* EACH MAIN HEADING */
nav .nav-wrapper ul li {
    float: left;
    list-style: none;
    position: relative;
    z-index: 3;
    margin-left: 0px;
    height: 75px;
    width: 67px;
}

/* LINKS WITHIN EACH HEADING */
nav .nav-wrapper ul li a {
    display: block;
    color: grey;
    font-size: 14px;
    text-decoration: none;
}


.Instagram-icon {
    padding-top: 20.5px;
    padding-bottom: 17.5px;
    padding-right: 14px;
    padding-left: 14px;
}

.Instagram {
    width: 40px;
    height: 40px;
}

.dropdown-icon {
    padding-top: 20px;
    padding-bottom: 19.5px;
    padding-right: 14px;
    padding-left: 14px;
}

.dropdown-image {
    width: 43px;
    height: 43px;
}


.IG-dropdown {
    display: none;
    position: absolute;
    z-index: 3;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 174px;
    background-color: rgb(99, 98, 98);
    /* border-radius: 0px 0px 4px 4px; */
    width: 150px;
    height: 250px;
    margin-top: -61px;
    margin-left: -96px;
}

.pages-dropdown {
    display: none;
    position: absolute;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 78px;
    background-color: rgb(99, 98, 98);
    /* border-radius: 0px 0px 4px 4px; */
    width: 150px;
    height: 250px;
    margin-top: -66px;
    margin-left: -93px;
    z-index:100;
}

/* HOVER TO ACTIVATE THE DROPDOWN */
nav .nav-wrapper ul li:hover ul {
    display: block;
}


/* EACH DROPDOWN SQUARE */
nav .nav-wrapper ul li ul li {
    width: 120px;
    height: 2rem;
    /* border-radius: 4px; */
    padding-left: 0px;
    margin-left: 0px;

}

/* EACH DROPDOWN BUTTON LINK */

nav .nav-wrapper ul li ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding: 8px 14px;
    color: white;

}

/* STYLE WHEN HOVER ON DROPDOWN BUTTON */

nav .nav-wrapper ul li ul li a:hover {
    color: black;
}

/* Utility classes */
.u-off-screen {
    position: absolute;
    left: -9999px;
}









/* MOBILE DESIGN  */


@media only screen and (max-width:385px) {

    /* EXHIB */

    .exhib-image-container {
        height: 258px !important;
    }

}


@media only screen and (max-width:450px) {

    /* NAV BAR */

    .logo-image, .logo-container, .logo-1 {
      width: 150px;
      height: 35px;
    }

    .logo-container {
        padding-left: 10px;
        padding-top: 2px;
    }

    .logo-image {
        margin-left: 10px;
    }

    .nav-icons {
        padding-right: 0px;
        padding-top: -6px;
    }

    .IG-header, .Instagram-icon, .Instagram, .dropdown-header, .dropdown-icon, .dropdown-image {
        width: 33px;
        height: 33px;
    }

    nav, .nav-wrapper, footer {
        height: 70px;
        top: 0;
    }




    /* DROPDOWN */

    .pages-dropdown, .IG-dropdown {
        height: 350px;

    }

    .pages-dropdown {
        width: 170px;
        padding-right: 20px;
        margin-left: -93px;
        padding-top: 99px;
        margin-top: 31px;
        /* position: relative;
        z-index: 5; */
    }

    .IG-dropdown {
        padding-top: 250px;
        width: 170px;
        margin-top: 33px;
        position: relative;
        z-index: 5;
    }

    nav .nav-wrapper ul li ul li {
        height: 50px;
        width: 170px;
    }


    /* FOOTER */

    .sticky-footer {
        position: static;

    }


    /* CONTACT PAGE */

    .contact-wrapper {
        padding-top: 0px;
        height: 600px;
    }

    .contact-form {
        padding-top: 110px;
        padding-bottom: 30px;
        border-radius: 0px;
        height: 600px;
    }

    /* NEWS PAGE */

    .news-section {
        padding-top: 220px;
        height: 585px;
    }

    #mc_embed_signup {
        padding-top: 10px;
    }

    .referralBadge {
        width: 100px;
        padding-top: 150px;
    }

    #mce-EMAIL {
        margin-bottom: 10px;
    }

    /* EXHIBITIONS */

    .exhib-content-section {
        display: initial;
    }

    .exhib-words-container {
        padding-right: 25px;
        padding-top: 20px;
        /* HEIGHT CHANGE WHEN ADD TEXT BACK IN */
        height: 971px;
    }

    .exhib-words {
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }

    .exhib-image-container {
        /* padding-left: 25px; */
        /* padding-right: 25px; */
        /* margin-bottom: 25px; */
        height: 300px;
        /* margin-top: -40px; */
    }

    .exhib-image {
        width: 100%;
        /* height: 470px; */
    }

    /* THANK YOU */

    .thanks-container {
        height: 526px;
        padding-top: 160px;
    }

    /* BIO */

    .bio-content-container {
        width: 375px;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 25px;
    }

    .bio-content-words {
        font-size: 16px;
        width: 100%;
    }

    .main-content-section {
        height: 778px;
    }

    /* .bio-image-container {
        width: 325px;
        height: 200px;
    } */

    .bio-image {
        width: 325px;
        height: 200px;
    }

    .bio-credit {
        font-size: 8px;
    }

    /* HOME PAGE */

    .home-image-container, .home-page-image {
        height: 0px;
    }

    .home-page-image {
        margin-top: -4px;
    }

    .nocopy-image-container {
        margin-bottom: -1px;
    }

    .nocopy-image {
        margin-top: -10px;
    }

    .stickman-container {
        margin-top: -1px;
    }

    .stickman-container {
        width: 100%;
        height: 325px;
        background-color: black;
    }

    .stickman {
        height: 230px;
        width: 36px;
        margin: 0 auto;
        padding-top: 215px;
    }

    .stickman-image {
        width: 30px;
        height: 55px;
    }


    .homepage-words-container {
        width: 100px;
        height: 63px;
        margin: 0 auto;

        padding-top: 20px;
        line-height: 1;
    }

    .stickman-words {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: 400;
        font-size: 11px;
    }

    .home-sticky-footer, .home-footer-section, .home-footer-container {
        height: 0px;
        position: relative;
        z-index: 0;
    }

    .homepage-body {
        background-color: black;
    }

    .home-credit {
        margin-top: -313px;
        /* display: none; */
    }

    /* ARTWORK PAGE */

    .artwork-body {
        height: 660px;
    }

    .carousel {
        width: 80%;
        height: 520px;
    }

    .carousel__slide {
        /* height: 615px; */
    }

    .carousel__button--right {
        right: -35px;
    }

    .carousel__track-container {
        padding-top: 15px;
        height: 650px
    }

    .art-footer-section {
        height: 100px;
        top: 60px;
    }

    .art-caption {
        top: 38px;
    }
  }


/* ANYTHING BIGGER THAN MOBILE */


    /* ARTWORK PAGE */

  @media screen and (max-width: 2240px) and (min-width: 1445px) {
      .artwork-photographer {
          width: 50%;
      }

    }

    /* HOME PAGE */

  @media only screen and (min-width: 451px) {
      .stickman-container, .stickman, .stickman-image, .homepage-words-container, .homepage-words {
          height: 0px;
      }

      .nocopy-image-container, .nocopy-image {
          height: 0px;
      }

      .homepage-body {
        background-color: black;
    }
  }

  @media only screen and (min-width: 1049px) {
      .homepage-copy {
          height: 0px;

      }
  }


  @media screen and (max-width: 2240px) and (min-width: 1445px) {
    .home-sticky-footer, .home-footer-section, .home-footer-container {
        height: 70px;
    }
}


  @media screen and (max-width: 1444px) and (min-width: 1050px) {
        .home-sticky-footer, .home-footer-section, .home-footer-container {
        height: 70px;
        position: sticky;
        }
    }

  @media screen and (max-width: 1049px) and (min-width: 451px) {
        .blackspace-container {
            background-color: black;
            /* height: 341px; */
            /* width: 100%; */
        }

        .stickman-container, .stickman, .stickman-image, .homepage-words-container, .homepage-words, .homepage-copy {
            height: 0px;
        }

        .homepage-body {
            background-color: black;
            display: block;
            height: 100vh;
        }

        .home-sticky-footer, .home-footer-section, .home-footer-container {
            height: 0px;
        }
  }

  /* height */

  @media screen and (max-height: 1170px) and (min-height: 1080px) {
    .home-sticky-footer, .home-footer-section, .home-footer-container {
        height: 70px;
        position: sticky;
    }

    .blackspace-container {
        /* height: 197px; */
    }
  }

  @media screen and (max-height: 1260px) and (min-height: 1171px) {
    .home-sticky-footer, .home-footer-section, .home-footer-container {
        height: 70px;
        position: sticky;
    }

    .blackspace-container {
        /* height: 250px; */
    }


  }


    /* EXHIB PAGE */

  @media screen and (max-width: 1048px) and (min-width: 950px) {
        .exhib-words-container {
            padding-right: 30px;
        }
  }

  @media screen and (max-width: 949px) and (min-width: 859px) {
        .exhib-words-container {
            padding-right: 10px;
            max-width: 400px;
        }

        .exhib-image-container {
            /* padding-left: 50px; */
        }

        .exhib-words {
            font-size: 12px;
            max-width: 400px;
        }
  }

  @media screen and (max-width: 858px) and (min-width: 796px) {
        .exhib-words-container {
            padding-right: 10px;
            
        }

        .exhib-image-container {
            /* padding-left: 30px; */
        }

        .exhib-words {
            font-size: 11px;
            
        }
  }

  @media screen and (max-width: 795px) and (min-width: 720px) {
        .exhib-words-container {
            padding-right: 0px;
        }

        /* .exhib-image-container { */
            padding-left: 20px;
        }

        .exhib-words {
            font-size: 10px;
        }
  }

  @media screen and (max-width: 720px) and (min-width: 451px) {

        .exhib-content-section {
            display: block;
            height: 1300px;
            width: 450px;
            margin: 0 auto;
        }

        .exhib-words-container {
            padding-right: 15px;
            /* HEIGHT CHANGE WHEN ADD TEXT BACK IN */
            height: 648px;
            width: 440px;
        }

        .exhib-image-container {
            padding-left: 20px;
            padding-right: 10px;
            margin-right: 0px;
            margin-bottom: 20px;
            width: 450px;
            align-items: center;
        }

        .exhib-words {
            font-size: 14px;
        }

        
  }

  @media only screen and (min-height: 400px) {
    .exhib-page-main {
        background-color: black;
        /* height: 604px; */
    }

    .exhib-page-body {
        background-color: black;
    }

    .exhib-caption {
        display: block !important;
        margin-top: 0px !important;
    }

    .exhib-credit {
        margin-top: 0px !important;
    }
}


    /* BIO PAGE */

  @media screen and (max-width: 612px) and (min-width: 555px) {
        .bio-content-words {
            font-size: 12px;
            width: 530px;
        }

        .bio-content-container {
            padding-right: 10px;
            padding-left: 5px;
            height: 600px;
        }

        .bio-image-container {
            /* width: 530px; */
        }

        .bio-image {
            width: 530px;
        }


  }

  @media screen and (max-width: 554px) and (min-width: 451px) {
        .bio-content-words {
            font-size: 12px;
            height: 200px;
        }

        .bio-content-container {
            padding-right: 10px;
            padding-left: 5px;
        }

        .bio-image {
            width: 530px;
        }
  }

  @media only screen and (min-height: 753px) {
        .bio-page-body {
            background-color: black;
        }

        .bio-page-main {
            background-color: white;
        }

  }

    /* NEWS PAGE */

  @media screen and (max-width: 950px) and (min-width: 769px) {
        #mc_embed_signup {
            padding-top: 200px;
        }
  }



/* BIGGER THAN MACBOOK - BY HEIGHT */

    /* MAC WITHOUT DOCK */

    @media screen and (max-height: 800px) and (min-height: 752px) {

    /* ARTWORK */

        .art-caption {
            color: white;
        }

        .artwork-body {
            height: 674px;
            /* height: 734px */
        }

        .carousel {
            /* height: 660px */
            height: 600px;

        }

        .carousel__track-container {
            /* height: 730px; */
            height: 660px;
        }

        .carousel__track {
            /* height: 999px; */
            height: 660px;
        }

        .carousel__image {
            /* height: 560px; */
            height: 500px;
        }

        .art-footer-section {
            height: 128px;
        }

        .art-footer-container {
            height: 128px;
        }



    /* NEWS */

        .news-section {
            height: 653px;
            padding-top: 230px;
        }

    /* BIOG */

        .main-content-section {
            /* height: 650px; */
            margin: 0 auto;
        }

        /* .bio-content-container {
            height: 620px;
            max-width: 615px;
        }

        .bio-first-para {
            height: 160px;
        }

        .bio-second-para {
            height: 66px;
            margin-top: -22px;
        }

        .bio-image {
            width: 580px;
            height: 350px;
        } */



    /* CONTACT */

        .contact-main {
            height: 655px;
        }

    }

/* TALLER lAPTOPS */

    @media screen and (max-height: 903px) and (min-height: 801px) {

    /* ARTWORK */

        .art-caption {
            color: white;
        }

        .artwork-body {
            /* height: 820px; */
            height: 734px;
        }

        .carousel {
            /* height: 745px */
            height: 660px;
        }

        .carousel__track-container {
            /* height: 815px; */
            height: 730px;
        }

        .carousel__track {
            /* height: 1085px; */
            height: 999px;
        }

        .carousel__image {
            /* height: 644px; */
            height: 560px;
        }

        .art-footer-section {
            height: 175px;
        }

        .art-footer-container {
            height: 175px;
        }

    /* NEWS */

        .news-section {
            height: 753px;
            padding-top: 270px;
        }

    /* BIOG */

        .main-content-section {
            /* height: 748px; */
            margin: 0 auto;
        }

        /* .bio-content-container {
            height: 620px;
            max-width: 645px;
        }  */

        /* .bio-content-words {
            height: 230px;
        }

        .bio-first-para {
            height: 180px;
        }

        .bio-second-para {
            height: 86px;
            margin-top: -42px;
        }

        .bio-image {
            width: 610px;
            height: 380px;
        } */


    /* CONTACT */

        .contact-main {
            height: 750px;
        }

        .contact-wrapper {
            padding-top: 115px;
        }

    }

/* BETWEEN LAPTOP AND IMAC */

    @media screen and (max-height: 990px) and (min-height: 904px) {

    /* ARTWORK */

        .art-caption {
            color: white;
        }

        .artwork-body {
            /* height: 904px; */
            height: 820px;
        }

        .carousel {
            /* height: 829px */
            height: 745px
        }

        .carousel__track-container {
            /* height: 899px; */
            height: 815px;
        }

        .carousel__track {
            /* height: 1169px; */
            height: 1085px;
        }

        .carousel__image {
            /* height: 728px; */
            height: 644px;
        }

        .art-footer-section {
            height: 175px;
        }

        .art-footer-container {
            height: 175px;
        }

    /* NEWS */

        .news-section {
            height: 835px;
            padding-top: 360px;
        }

    /* BIOG */

        .main-content-section {
            /* height: 840px; */
            margin: 0 auto;
        }

        /* .bio-content-container {
            height: 620px;
            max-width: 675px;
        }

        .bio-content-words {
            height: 250px;
            font-size: 14.5px;
        }

        .bio-first-para {
            height: 190px;
        }

        .bio-second-para {
            height: 86px;
            margin-top: -42px;
        }

        .bio-image {
            width: 638px;
            height: 400px;
        } */


    /* CONTACT */

        .contact-main {
            height: 835px;
        }

        .contact-wrapper {
            padding-top: 165px;
        }

    }


    @media screen and (max-height: 1081px) and (min-height: 991px) {
         /* ARTWORK */

         .art-caption {
            color: white;
        }

        .artwork-body {
            /* height: 1000px; */
            height: 904px;
        }

        .carousel {
            /* height: 925px */
            height: 829px
        }

        .carousel__track-container {
            /* height: 994px; */
            height: 899px;
        }

        .carousel__track {
            /* height: 1265px; */
            height: 1169px;
        }

        .carousel__image {
            /* height: 823px; */
            height: 728px;
        }

        .art-footer-section {
            height: 175px;
        }

        .art-footer-container {
            height: 175px;
        }

    /* NEWS */

        .news-section {
            height: 935px;
            padding-top: 460px;
        }

    /* BIOG */

        .main-content-section {
            /* height: 929px; */
            margin: 0 auto;
        }

        /* .bio-content-container {
            height: 620px;
            max-width: 725px;
        }

        .bio-content-words {
            height: 290px;
            font-size: 16.5px;
        }

        .bio-first-para {
            height: 212px;
        }

        .bio-second-para {
            height: 86px;
            margin-top: -42px;
        }

        .bio-image {
            width: 690px;
            height: 420px;
        } */



    /* CONTACT */

        .contact-main {
            height: 926px;
        }

        .contact-wrapper {
            padding-top: 200px;
        }

    }

    @media screen and (max-height: 1172px) and (min-height: 1082px) {

        .art-caption {
            color: white;
        }

        .artwork-body {
            /* height: 1100px; */
            height: 1000px;
        }

        .carousel {
            /* height: 1025px */
            height: 925px
        }

        .carousel__track-container {
            /* height: 1094px; */
            height: 994px;
        }

        .carousel__track {
            /* height: 1365px; */
            height: 1265px;
        }

        .carousel__image {
            /* height: 923px; */
            height: 823px;
        }

        .art-footer-section {
            height: 175px;
        }

        .art-footer-container {
            height: 175px;
        }


    /* NEWS */

        #mc_embed_signup {
            padding-top: 280px;
        }

        .news-section {
            height: 1020px;
            padding-top: 495px;
        }

    /* BIOG */

        .main-content-section {
            /* height: 1020px; */
            margin: 0 auto;
        }

        /* .bio-content-container {
            height: 620px;
            max-width: 770px;
        }

        .bio-content-words {
            height: 320px;
            font-size: 17.5px;
        }

        .bio-first-para {
            height: 243px;
        }

        .bio-second-para {
            height: 86px;
            margin-top: -42px;
        }

        .bio-image {
            width: 734px;
            height: 443px;
        } */

    /* CONTACT */

        .contact-main {
            height: 1016px;
        }

        .contact-wrapper {
            padding-top: 240px;
        }

    }

    @media screen and (max-height: 1265px) and (min-height: 1173px) {

        .art-caption {
            color: white;
        }

        .artwork-body {
            /* height: 1188px; */
            height: 1100px;
        }

        .carousel {
            /* height: 1115px */
            height: 1025px
        }

        .carousel__track-container {
            /* height: 1184px; */
            height: 1094px;
        }

        .carousel__track {
            /* height: 1455px; */
            height: 1365px;
        }

        .carousel__image {
            /* height: 1013px; */
            height: 923px;
        }

        .art-footer-section {
            height: 175px;
        }

        .art-footer-container {
            height: 175px;
        }


        /* NEWS */

        #mc_embed_signup {
            padding-top: 370px;
        }

        .news-section {
            height: 1106px;
            padding-top: 505px;
        }

    /* BIOG */

        .main-content-section {
            /* height: 1110px; */
            margin: 0 auto;
        }

        /* .bio-content-container {
            height: 620px;
            max-width: 820px;
        }

        .bio-content-words {
            height: 340px;
            font-size: 19px;
        }

        .bio-first-para {
            height: 237px;
        }

        .bio-second-para {
            height: 86px;
            margin-top: -42px;
        }

        .bio-image {
            width: 780px;
            height: 470px;
        } */

    /* CONTACT */

        .contact-main {
            height: 1108px;
        }

        .contact-wrapper {
            padding-top: 270px;
        }

    }